<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Elettronico</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.siteUrl %>material.min.css">
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.siteUrl %>style.css">
        <link rel="manifest" href="<%= htmlWebpackPlugin.options.siteUrl %>manifest.json">
        <meta name="theme-color" content="#3f51b5">
    </head>
    <body>
        <div id="root"></div>

        <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
        <script>Raven.config('https://0c3b6a3414ca483899d424009b8bc75a@sentry.io/101406').install()</script>

        <% if (htmlWebpackPlugin.options.environment == "development") { %>
            <script src="<%= htmlWebpackPlugin.options.siteUrl %>react.js"></script>
            <script src="<%= htmlWebpackPlugin.options.siteUrl %>react-dom.js"></script>
        <% } %>

        <% if (htmlWebpackPlugin.options.environment == "production") { %>
            <script src="<%= htmlWebpackPlugin.options.siteUrl %>react.min.js"></script>
            <script src="<%= htmlWebpackPlugin.options.siteUrl %>react-dom.min.js"></script>
        <% } %>

        <!-- Main -->
        <!-- Compiled and minified JavaScript -->
        <script src="<%= htmlWebpackPlugin.options.siteUrl %>material.min.js"></script>

        <!-- The bundle.js file will be auto injected by HTMLWebpackPlugin -->
        <script src="<%= htmlWebpackPlugin.options.siteUrl + htmlWebpackPlugin.files.js %>"></script>
    </body>
</html>